<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<form class="example-form">

  <div class = "top">
  <div class="left-div">
    <p>Sign up with:</p>
 <button mat-raised-button class="btn-social btn-facebook" (click) = "onLoginFacebook()">
          <span class="fa fa-facebook"></span>             
            &nbsp; Facebook
      </button> 
      <br><br> 
      <button mat-raised-button class="btn-social btn-google" (click) = "onLoginGoogle()">
        <span class="fa fa-google"></span> 
          &nbsp; Google
      </button>
  </div> 

</div> 

  <mat-form-field class="example-form ">
    <input [(ngModel)]="name" name="name" matInput placeholder="first name" value="" required>
    <mat-error *ngIf="nameFormControl.hasError('required')">
       Name is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field class="example-form ">
    <input [(ngModel)]="email" name="email" matInput placeholder="email" value="" required>
    <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <p class="error" *ngIf="code =='auth/invalid-email'">{{message}}</p>
  <p class="error" *ngIf="code =='auth/email-already-in-use'">{{message}}</p>
  


  <mat-form-field class="example-form ">
    <input [(ngModel)]="password" name="password" matInput placeholder="password" value="" required>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <p class="error" *ngIf="code =='auth/weak-password'">{{message}}</p>
  <div class = "error" *ngIf = "wrong != ''">{{wrong}}</div>
 
  <button mat-raised-button  color="primary" (click) = "signup()"> sign up</button>

</form>

